<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fontsome Fonts library importing (Javascript Libaray) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="static/Style/styles1.css">
    <title>Sahil Vanarse</title>
</head>
<body>
    <!-- header design -->
    <header class="header">
        <a href="#" class="logo">Sahil Vanarse</a>
        <i class="fa-solid fa-bars" id="menu-icon"></i>
        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about" class="active">About</a>
            <!-- <a href="#services" class="active">Services</a> -->
            <a href="#portfolio" class="active">Projects</a>
            <a href="#contact" class="active">Contact</a>
        </nav>
    </header>

    <!-- Home section design -->
    <section class="home" id="home">
        <div class="home-content">
            <h3>Hi, Myself</h3>
            <h1>Sahil Vanarse</h1>
            <h3><span style="color: white;">I'm <span class="multiple-text">Python Developer</span></span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium molestiae eligendi repellendus quis mollitia, optio expedita sequi corporis at ad, hic nulla ducimus dolores. Unde?</p>
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></i></a>
                <!-- <a href="#"></a> -->
            </div>
            <a href="#" class="btn">Download Resume</a>
        </div>

        <div class="home-img">
            <img src="static/img/sahil-pass-round.png" alt="profile-photo">
        </div>
    </section>


    <!-- About section design -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="static/img/sahil-pass-round.png" alt="about-image">
        </div>
        
        <div class="about-content">
            <h2 class="heading">About <span> Me</span></h2>
            <h3>Backend Developer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem aliquid quia nostrum est iure expedita molestias facilis quibusdam similique quod ipsum dicta, autem cum in maiores architecto debitis repudiandae nihil?</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </section>


    <!-- Services section design -->
    <!-- <section class="services" id="services">
        <h2 class="heading">My <span> Services</span></h2>

        <div class="services-container">
            <div class="services-box">
                <i class="fa-solid fa-code"></i>
                <h3>Web Development</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod nemo temporibus modi optio, delectus ullam! Perferendis, eius nemo ipsa quia quasi dolorum. Dolore, repellat explicabo.</p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="services-box">
                <i class="fa-solid fa-palette"></i>
                <h3>Data Structures and Algorithms</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod nemo temporibus modi optio, delectus ullam! Perferendis, eius nemo ipsa quia quasi dolorum. Dolore, repellat explicabo.</p>
                <a href="#" class="btn">Read More</a>
            </div>

            <div class="services-box">
                <i class="fa-solid fa-database"></i>
                <h3>Data Engineering</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod nemo temporibus modi optio, delectus ullam! Perferendis, eius nemo ipsa quia quasi dolorum. Dolore, repellat explicabo.</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </section> -->

    <!-- Project section design -->
    <section class="portfolio" id="portfolio">
        <h2 class="heading">Projects</h2>

        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="static/img/sahil-pass-round.png" alt="project-img">
                <div class="portfolio-layer">
                    <h3>CO-PO Mapping and Articulation Matrix</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod nemo temporibus modi optio, delectus ullam! Perferendis, eius nemo ipsa quia quasi dolorum. Dolore, repellat explicabo.</p>
                    <a href="#" class="btn"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>              
            </div>

            <div class="portfolio-box">
                <img src="static/img/sahil-pass-round.png" alt="project-img">
                <div class="portfolio-layer">
                    <h3>CO-PO Mapping and Articulation Matrix</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod nemo temporibus modi optio, delectus ullam! Perferendis, eius nemo ipsa quia quasi dolorum. Dolore, repellat explicabo.</p>
                    <a href="#" class="btn"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>              
            </div>


            <div class="portfolio-box">
                <img src="static/img/sahil-pass-round.png" alt="project-img">
                <div class="portfolio-layer">
                    <h3>CO-PO Mapping and Articulation Matrix</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod nemo temporibus modi optio, delectus ullam! Perferendis, eius nemo ipsa quia quasi dolorum. Dolore, repellat explicabo.</p>
                    <a href="#" class="btn"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>              
            </div>
        </div>
    </section>

    <!-- Contact section design -->
    <section class="contact" id="contact">
        <h2 class="heading">Contact <span> Me</span></h2>

        <form action="#">
            <div class="input-box">
                <input type="text" placeholder=" Full Name">
                <input type="email" placeholder=" Email Address">
            </div>

            <div class="input-box">
                <input type="number" placeholder=" Mobile Number">
                <input type="text" placeholder=" Email Subject">
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <input type="submit" value="Send Message" class="btn">
        </form>
    </section>

    <footer class="footer">
        <div class="footer-text">
            <p> Copyright &copy; 2024 by Sahil Vanarse | All Rights Reserved</p>
        </div>

        <div class="footer-iconTop">
            <a href="#home"><i class="fa-solid fa-angle-up"></i></a>
        </div>
    </footer>


    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>


    <!-- typed js  -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>


    <!-- main js  -->
    <script src="static/js/main.js"></script>

</body>
</html>